<%- include ('template/header.ejs') -%>


<div  id="particles-js">

    <h1>Cultural societies of IIIT Allahabad.</h1>

</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" onclick="window.location.replace('/sarasva')">
                <img src="/images/sarasva.png" >
                <h3>Sarasva</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                </p>
            </div>
           

        </div>
        <div class="col">
            <div class="card" onclick="window.location.replace('/gen')">
                <img src="/images/geneticx.jpeg" >
                <h3>GeneticX</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card" onclick="window.location.replace('/vir')">
                <img src="/images/virtousi.png" >
                <h3>Virtuosi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" onclick="window.location.replace('/rang')">
                <img src="/images/rangtaragini.jpeg" >
               <h3>Rangtaringini</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card" onclick="window.location.replace('/thu')">
                <img src="/images/thunder.jpeg" >
                <h3>Thunderbolt AMS</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="card" onclick="window.location.replace('/nir')">
                <img src="/images/logo.png" >
               <h3>Nirmiti</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum.
                </p>
            </div>
        </div>
    </div>
</div>
<script src=
        "/node_modules/particles.js/particles.js">
    </script>
    <script src=
        "/node_modules/particles.js/demo/js/app.js">
    </script>
<footer>
    <div class="footer">
        <p id="patt">Made by Aditya Verma
        <a href="https://www.instagram.com/homeward_gamer/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100059607283259"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/homewardgamer"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/aditya-verma-49a204201/"> <i class="fab fa-linkedin-in"></i></a></p>
      </div>
    </footer>
    
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    </body>
    </html>