<footer>
<div class="footer">
    <p id="patt">Made by Aditya Verma
    <a href="https://www.instagram.com/homeward_gamer/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100059607283259"><i class="fab fa-facebook-f"></i></a>
    <a href="https://github.com/homewardgamer"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/aditya-verma-49a204201/"> <i class="fab fa-linkedin-in"></i></a></p>
  </div>
</footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>
</body>
</html>